<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
	
</head>
 
<body>
	<div >
		<app-progressbar></app-progressbar>
		<div class="avatar">
			<div class="rank-label-container">
				<span class="label label-default rank-label">Player 1</span>
			</div>
		  </div>
<div id="menu">
		<div class="panel">
			<h1 class="name">Leffe</h1>
			<h2 class="type">Blonde</h2><span class="price">$4.50</span><span class="abv">6.6%</span></div>
		<div class="panel">
			<h1 class="name">Paulaner</h1>
			<h2 class="type">Ale</h2><span class="price">$5</span><span class="abv">5.5%</span></div>
		<div class="panel">
			<h1 class="name">Heineken</h1>
			<h2 class="type">Lager</h2><span class="price">$4.50</span><span class="abv">5%</span></div>
		<div class="panel">
			<h1 class="name">Tuborg</h1>
			<h2 class="type">Stout</h2><span class="price">$4</span><span class="abv">4.6%</span></div>
			<label for="story" style="background-color:brown;">Tell us your story:</label>
			<textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='Write here ' style="background-color:brown;">
			</textarea>
		</div>
		


		<div class="avatar2">
			<div class="rank-label-container">
				<span class="label label-default rank-label">Player 2</span>
			</div>
		  </div>

	</div>

	</body>