<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<head>
 

</head>
 
<body>
<!-- Displaying the game project name and the players names -->
<div class="top">
    <div *ngFor="let game of nameArray;" style="margin-bottom:20px;">
        <label style="color:#F1C40F;font-family: sans-serif !important;">{{game.gameid}}</label><label  *ngFor="let player of playerArray;" style="font-family: sans-serif !important;">&rsaquo; {{player.name}}</label><br>
        <br>
        <br>
        <label class="countdown" style="font-family: sans-serif !important;"><countdown #countdown [config]="{leftTime: 60}">$!m!:$!s!</countdown></label>
    </div>
</div>


<br>


<div class="wrapper">
<div id="menu">
  
<!-- Displaying the first card title -->

<div *ngFor="let card of cardsArray;let id = index;"> 
    <div *ngIf="id == 0">  
        <p class="title">{{card.name}}</p>
    </div>
    </div>
		<textarea #content  rows='3' data-min-rows='3' placeholder='Max 200 characters ' style="background-color:#ECF0F1;" name="cardcontent"  [(ngModel)]="cardcontent" maxlength="55">
            </textarea>     
</div>

<!-- Submit button with click function to store the card body -->
<input type="submit" class="fadeIn fourth" value="Next" (click)="submitContent(content.value)" >

</div>



</body></html>



		