<!DOCTYPE html>
<html lang="en" ng-app="myApp">
		<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<body>

<!-- Displaying the game project name and the players names -->
	<div class="top">
		<div *ngFor="let game of nameArray;" style="margin-bottom:20px;">
			<label style="color:#F1C40F;font-family: sans-serif !important;">{{game.gameid}}</label><label  *ngFor="let player of playerArray;" style="font-family: sans-serif !important;">&rsaquo; {{player.name}}</label><br>
			<br>
			<br>
			<label class="countdown" style="font-family: sans-serif !important;"><countdown #countdown [config]="{leftTime: 60}">$!m!:$!s!</countdown></label>
		</div>
	</div>
			

<div class="wrapper">

<!-- If the player didn't submit yet his card ; display that he is still writing -->
		<div *ngFor="let card2 of round2Array;let id = index;">
				<div *ngIf="id==0">
						<div *ngIf="!card2.round1; else templateName">
							<div class="play">
								<h2 style="color:#ECF0F1;">{{card2.name}} is still  writing ...</h2>
						</div>
				</div>
				</div>
			</div>

<ng-template #templateName>
<div id="menu">

<!-- Displaying the cards titles and body -->
	<div class="panel">
		<div *ngFor="let card of cardsArray;let id = index;"> 
		  <div *ngIf="id == 0">  
			<p class="title" >{{card.name}}</p>
		  </div>
		</div>
		 <div *ngFor="let card2 of round2Array;let id = index;">
		   <div *ngIf="id ==0">
			   <h2 class="type" >{{card2.round1.functionnality}}</h2>
	  		</div>
		</div>
	  </div>

	  <div class="panel" >
		<div *ngFor="let card of cardsArray;let id = index;"> 
			<div *ngIf="id == 1">  
				<p class="title" >{{card.name}}</p>
			</div>
		</div>
		 <textarea #content class='autoExpand' placeholder='Max 200 characters ' style="background-color:#ECF0F1;"  name="cardcontent"  [(ngModel)]="cardcontent" maxlength="55">
			</textarea>
	  </div>
	</div>
	
<div class="bottom" *ngFor="let card2 of round2Array;let id = index;">
	<div *ngIf="id == 0">

	<!-- Displaying the game project name and the players names -->
		<input  type="submit" class="fadeIn fourth" value="Next"   (click)="submitContent(card2.round1.functionnality,content.value)">
	</div>
</div>
</ng-template>
</div>

</body>