
.top {
  
  left: 5%;
  position: absolute;
 top:0%;
 
}

  .title {
    font-size: 2.5vh;
    font-weight: 200;
    font-family: sans-serif !important;
    text-align: justify;
    color: #ECF0F1;
 }

 .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

label{
  left: 2vh;
  top: 60%;
  margin-top: 2.5vh;
  font-size: 3.5vh;
  line-height: 5vh;
  font-weight: 300;
  margin-left: 10px;
  color: #eee;
  }



  /* the app - a beer menu / ordering app */
  #menu {
    background-color: #ECF0F1;
    position: absolute;
    display: flex;
    flex-direction: column;
    column-gap: 0em;
    top: 45%;
    left: 50%;
    /* note: the translateZ(0) enables hardware accel */
    /* without it, there is a weird gap between panels */
    transform: translate(-50%, -50%) translateZ(0);
    height: 48vh;
    width: 46.33333vh;
    overflow: hidden;
    padding: 0%  !important;
    margin-top: 20px;
  }
  
  .panel {
    position: relative;
    flex-grow: 0;
    transition: all 0.4s ease;
    transition-delay: 0s;
    padding-bottom: 0%;
    column-gap: 0em !important;
    -webkit-column-gap: 0ch;
    /* the icon for this beer (initially invisible) */
    /* each panel has its own color scheme */
  }
  
  .panel textarea {
    position: relative;
    width: 46.33333vh;
    border: none;
  }
  
  .panel .name {
    transition: all 0.4s ease;
    transition-delay: 0;
  }
 
  .panel .type {
    transition: all 0.4s ease;
    transition-delay: 0;
  }
  .panel .name {
    font-size: 3.5vh;
    line-height: 7vh;
    font-weight: 200;
    width: 100%;
    height: 100%;
  }
  .panel .type {
    left: 5vh;
    top: 50%;
    font-size: 0;
    font-weight: 100;
  }

  .panel:nth-of-type(1) p{
   background-color: rgb(219, 30, 30);
    padding: 5px 5px 5px 10px;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .panel:nth-of-type(1) .type {
    margin-bottom: 0%;
   }
  
   .panel:nth-of-type(1) {
    z-index: 8;
    background: rgb(219, 30, 30);
  }

  .panel:nth-of-type(2) p {
    background-color: #F39C12;
    padding: 5px 5px 5px 10px;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .panel:nth-of-type(2) .type {

    margin-bottom: 0%;
   }
 
  .panel:nth-of-type(4) h1, .panel:nth-of-type(4) h2, .panel:nth-of-type(4) h3 {
    color: #ECF0F1;
  }
  /* panels get larger and show more info when you hover over them */
  .panel:hover {
    flex-grow: 2;
  }
 
  .panel:hover .type {
    left: 10vh;
    margin-top: 1.75vh;
    font-size: 2.5vh;
  }
 
  /* when you click on a panel, the others are hidden */
  .panel.hidden {
    flex-grow: 0;
  }
  .panel.hidden * {
    opacity: 0;
    pointer-events: none;
  }
  /* when you click on a panel, it becomes active */
  .panel.active {
    flex-grow: 1;
    transition-delay: 0s;
  }
 
  .panel.active .name, .panel.active .type {
    transition-delay: 0s;
  }
  .panel.active .name {
    left: 15vh;
    margin-top: 5vh;
    font-size: 7.5vh;
    font-weight: 100;
  }
  
  
  input[type=submit] { 
    background-image: url("../../assets/images/next.png");
    background-size: 50px 30px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #F1C40F;
    border: none;
    color: white;
    padding: 10px 110px;
    text-align: center;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   cursor : pointer;
  }

  .bottom{
    margin:auto;
    text-align: center;
    top: 78%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
  }

  .countdown {
    color: rgb(219, 30, 30);
    font-size: 9vh;
  }
  
  
  .round {
    left: 72%;
    top: 0%;
    position: absolute;
    font-family: sans-serif !important;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }
  
  .play {
    margin: 0;
   position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }