

<br>
<ul class="progress-indicator">
    <li class="completed"> <span class="bubble"></span> <p><countdown #countdown [config]="{leftTime: 30}">$!m!:$!s!</countdown></p> </li>
    <li><span class="bubble"></span> </li>
    <li> <span class="bubble"></span> </li>
    <li> <span class="bubble"></span> </li>
    <li> <span class="bubble"></span> </li>
    <li> <span class="bubble"></span> </li>
    <li> <span class="bubble"></span> </li>
  </ul>

  
  <div class="notification-box">
      <div class="notification-bell">
        <span class="bell-top"></span>
        <span class="bell-middle"></span>
        <span class="bell-bottom"></span>
        <span class="bell-rad"></span>
      </div>
  </div>
