
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<head>
 

</head>
 
<body>
   
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Displaying the game projec name and players -->
  <div class="top">
      <div *ngFor="let game of nameArray;">
          <label style="color:#F1C40F;font-family: sans-serif !important;">{{game.gameid}}</label><label  *ngFor="let player of playerArray;" style="font-size:150%;font-family: sans-serif !important;">&rsaquo; {{player.name}}</label>
        </div>
     </div>


  <div id="page">
      
    <!-- Displaying the list of players that joined the game -->

    <header>waiting your players</header>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

      
    <div class="row">

     <div *ngFor="let player of playersArray;let id = index;">
      <div class="col-lg-12">
          <div class="media">
              <div class="pull-left" href="#">
                <div *ngIf="id == 0; else templateName">
                  <img class="media-object dpn img-circle" src="../../assets/images/crown.svg" style="width: 100px;height:100px;">
                </div>
                <ng-template #templateName>
                    <img  class="media-object dp img-circle"  src="../../assets/images/userlogo.png" style="width: 100px;height:100px;" />
                </ng-template>  
              </div>    
          </div>
         <p style="margin: 0 30px 10px;color: #eee">{{player.name}}</p> 
      </div>
      </div>
    </div>
    
    
    
     
      <input type="submit" class="fadeIn fourth" value="Let's brainstorm"   (click)="onclick()">
      
  



  </div>
        
 
 
</body></html>
