<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="feature-block-v7 feature-block">
                        <div class="feature-icon text-brand bg-brand-light mb-5">
                            <i class="fas fa-gamepad"></i>
                        </div>
                        <div class="feature-content">
                            <h2>Rainbow Writing</h2>
                            <p class="lead">Rainbow writing is a team game for a brainstorming session.
                              In this group game,efforts are made to find a conclusion for a specific problem by gathering a list of ideas spontaneously contributed by its members.
                              Complete your rainbow writing and save your link to see the cards and access it anytime . </p>
                            <hr class="m-t-30 m-b-30"><h3  style="color:#F1C40F ! important;">How it works ?</h3>
                            <ul>
                              <li>Create a game name to join with other players.</li>
                              <li>Wait for the other players to join to start the game.</li>
                              <li>You will have 7 brainstorming card : <br>
                                Functionality<br>
                                Application<br>
                                Technology industry<br>
                                Weakness<br>
                                Customer<br>
                                Needs<br>
                                Trends & Issues</li>
                                <li>Each player need to fill out the card by playing order.</li>
                                <li>When the game is completed, save your rainbow writing cards Link ^^</li>
                            </ul>
                            <a href="https://rainbow-writing-30bbb.firebaseapp.com" class="btn btn-rounded btn-outline-primary">Play now !</a>
                        </div>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="circle-1"></div>
                    <div class="feature-app-img">
                        <img src="../../assets/images/iphone-landing.png" alt="App Landing Page Template - Quanto">
                    </div>
                </div>
            </div>
             <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-4"> 
            <a href="https://imagine.hanyang.ac.kr" target="_blank" class="text-primary">ImagineXLab</a><p> 2019 All rights reserved</p>
              </div></div>
        </div>
    </div>