html{
    height: 100%;
  }
  
  
  
  form {
  width: 100%; 
  height: 90%;
  padding-left: 250px;
  padding-bottom: 50px;
  }
  
  h1{
    width: 100%; 
    height: 90%;
    padding-left: 350px;
    padding-top: 120px;
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  
  p{
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    padding-top: 60px;
  
  }